{% templatetag openblock %} extends "base.html" {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}Ошибка 404: страница не найдена{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
<div class="panel panel-danger">
    <div class="panel-heading">Ошибка 404</div>
    <div class="panel-body text-danger">Страница не найдена.</div>
</div>
{% templatetag openblock %} endblock content {% templatetag closeblock %}
